* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

header .logo img {
    width: 150px;  /* Set the logo size */
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff3e3;
}

.hero .hero-image img {
    max-width: 500px;
    border-radius: 10px;
    object-fit: cover;
}

/* Menu Section */
.menu {
    padding: 50px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.menu h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-width: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

.menu-item h3 {
    margin: 20px 0;
    color: #333;
}

.menu-item p {
    color: #777;
}
